<div ng-controller="AppCtrl">
  <div class="container">

    <h2>All Tasks</h2>
    <table class="table table-striped" >
      <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Task</th>
            <th scope="col">Owner</th>
            <th scope="col">Completed</th>
        </tr>
     </thead>

     <tbody>
      <tr ng-repeat="task in tasks | filter : search.task | orderBy : orderByKey">
         <td>{{task.title}}</td>
         <td>{{task.task}}</td>
         <td>{{task.owner}}</td>
         <td>{{task.completed}}</td>
         <td>
             <a href="/task/{{task.id}}" class="btn btn-default btn-xs">Edit</a>
            <button class="btn btn-danger btn-xs" ng-click="delete($index)">Delete</button></td>
      </tr>
    </tbody>
    </table>
    <label>Sort By:</label>
    <select name="orderByKey" ng-model="orderByKey">
      <option value="owner">Owner</option>
      <option value="title">Title</option>
    </select>

  </div>
</div>
