{% extends "base.html" %}
{% block content %}
<h1>Change Password</h1>
<form class ="form" action="" method="post">
    {{ passwordchange.hidden_tag() }}

       {{ passwordchange.changeusername (placeholder='Username')}}<br>
        {% for error in passwordchange.changeusername.errors %}                     <!-- First form box with error if no input -->
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>

       {{ passwordchange.changepassword (placeholder='Password')}}<br>              <!-- Second form box with error if no input -->
        {% for error in passwordchange.changepassword.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>

        {{ passwordchange.newpassword (placeholder=' New Password')}}<br>          <!-- Third form box with error if no input -->
         {% for error in passwordchange.newpassword.errors %}
           <span style="color: red;">[{{ error }}]</span>
         {% endfor %}<br>

        <p><input type="submit" value="Login"></p>
        {% if message %}                                                              <!-- Message if no valid input -->
          <p style="color: red; width:100%; text-align:center;">{{ message }}</p>
        {% endif %}
</form>
{% endblock %}
