{% extends "base.html" %}
{% block content %}
  <h1>All Tasks</h1>
  {% for task in not_complete %}
        <div id="title"> <h2>{{ task.title }}</h2> </div>
        <div id="desc"> <p>{{ task.description }}</p> </div>            <!--  displays a records values -->
        <div id="desc"> <p>{{ task.date }}</p> </div>
        <div class ="wrapper">
        <div id="completed" ><a href="{{ url_for('changeBool', id=task.id)}}">Completed?</a></div>  <!--  button to to make record completed-->
        </div>
        <hr>
  {%endfor%}
{% endblock %}
