<!DOCTYPE html>
<html>
  <head>
  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}
  <link rel="stylesheet" href="static/app.css">
  <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">    <!---Stylesheets needed for html  -->
  <link href="sticky-footer.css" rel="stylesheet">
  </head>
  <body>
    <ul>
      <li><a href="/all_tasks">View all Tasks</a></li>
      <li><a href="/all_completed_tasks">View All Completed Tasks</a></li>        <!--  Values in the nav bar -->
      <li><a href="/create_task">Create Task</a></li>
    </ul>

    <div>
      {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="container">                       <!--  bootstrap footer -->
        <span class="text-muted">                All Rights Reserved - - - - - - &copy Taranvir Bola sc16tb</span>
      </div>
    </footer>
  </body>
</html>
