
# Compiled bytecode
*.class

website/flask/
website/app/__pycache__/
*.pyc
website/db_repository/
*.db


# .gitignore file



# Compiled bytecode
*.class

#Intellij
/out
*.idea

# Zip archives
*.zip

# Doc comments 
/doc

*out

films.db

Desktop/bin

app.db

cashReciept.pdf
cardReciept.pdf

${doc.dir}
ticket.png


website/app/static/img/ticket.svg
website/app/static/img/ticket.pdf

