{% extends "base.html" %}
{% block content %}

<br>
<hr>
<hr>
    <div class="row" id="title">
        <div class="col-sm-12">
            <h1 style="text-align: center;">Transaction <span class="highlight">Successful</span><br>
              <br><span class="highlight">Card transaction was successful.</span>
              <br><span class="highlight">Your ticket was sent to your email</span>
              <br><span class="highlight">Take the QR code of the ticket to the screening.</span>
              <br><span class="highlight">Enjoy ;)</span></h1>
        </div>
    </div>
    <br>

<br>
<br>
<br>
<br>
<hr>
<hr>

{% endblock %}
