
.col1, .col2, .col3, .cols { float:left;}

.col1{ width:200px;}
.col2{ width:680px}
.col3{ width:440px}

/*======= index.html =======*/
/*======= index-1.html =======*/
#page2 #content .col1{ width:280px;}
#page2 #content .col2{ width:600px;}
#page2 #content{ padding-bottom:20px;}
#page2 #content2{ padding-bottom:40px;}
/*======= index-2.html =======*/
#page3 #content .col1{ width:280px;}
#page3 #content .col2{ width:600px;}
#page3 #content{ padding-bottom:20px;}
#page3 #content2{ padding-bottom:40px;}
/*======= index-3.html =======*/
#page4 #content .col1{ width:280px;}
#page4 #content .col2{ width:600px;}
#page4 #content{ padding-bottom:20px;}
#page4 #content2{ padding-bottom:40px;}
/*======= index-4.html =======*/
#page5 #content .col1{ width:280px;}
#page5 #content .col2{ width:600px;}
#page5 #content{ padding-bottom:20px;}
#page5 #content2{ padding-bottom:40px;}
/*======= index-5.html =======*/